{{ template "base" . }}

{{ define "title" }} {{ .volunteer_fire_departmentLabel }} {{ end }}

{{ define "content" }}

<h1> {{ .volunteer_fire_departmentLabel }} </h1>

<h2> Informationen </h2>

<ul>
  <li>
    {{ if .located_in_the_administrative_territorial_entity }}
    In Gemeinde: <a href={{ .located_in_the_administrative_territorial_entity}}> {{ .located_in_the_administrative_territorial_entityLabel }}</a>
    {{ else }}
    In Gemeinde: 🤷
    {{ end }}
  </li>
  <li> Auf Karte:
    {{ if .coordinate }}
    <a href="https://www.openstreetmap.org/search?lat={{ .lat }}&lon={{ .lon }}"> {{ .lat }}, {{ .lon }}</a>
    {{ else }}
    🤷
    {{ end }}
  </li>
  <li>  Mitgliedschaften:
    {{ if .member }}
    <a href="{{ .member}}"> {{ .memberLabel }}</a>
    {{ else }}
    🤷
    {{ end }}
  </li>
  <li>  Website:
    {{ if .websiteLabel }}
    <a href="{{ .websiteLabel }}"> {{ .websiteLabel }}</a>
    {{ else }}
    🤷
    {{ end }}
  </li>
  <li>  Adresse:
    {{ if .addressLabel }}
    {{ .addressLabel }}
    {{ else }}
    🤷
    {{ end }}
  </li>

</ul>

<iframe width="500" height="650" src="https://www.openstreetmap.org/export/embed.html?bbox=8.9%2C47.2%2C13.8%2C50.6&amp;layer=mapnik&amp;marker={{ .lat }}%2C{{ .lon}}" style="border: 1px solid black"></iframe><br/><small><a href="https://www.openstreetmap.org/?mlat=49.67882&amp;mlon=9.44927#map=14/49.67882/9.44927">View Larger Map</a></small>

<br>

Fehler gefunden? Hier ist die Quelle: <a href={{ .volunteer_fire_department }}> {{ .qid }}</a>


<h3><a href="../index.html">back</a></h3>
{{ end }}
